<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <label for="username">Enter Your Name</label>
        <input placeholder="username" name="username"/>
        <br>
        <br>
        <label for="content" >Write your post.</label>
        <textarea placeholder="Express yourself" name="content" rows="2" cols="50"></textarea>
        <button>submit</button>
    </form>
</body>
</html>